.tickbox-container {
  position: absolute !important;
  cursor: pointer !important;
  top: 10%;
  left: 10%;
  grid-area: tickbox;
}

/* Hide the browser's default checkbox */
.tickbox-container input[type="checkbox"] {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  z-index: 1;
  opacity: 0 !important;
  cursor: pointer !important;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 35px !important;
  width: 35px !important;
  background-color: #e76f51 !important;
  border-radius: 5px !important;
  box-shadow: 0px 4px 4px 0px rgba(var(--secondary), 0.13) inset !important;
  transition: all 0.5s ease-in-out;
}

/* On mouse-over, add a grey background color */
.tickbox-container:hover input[type="checkbox"] ~ .checkmark {
  filter: brightness(110%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "" !important;
  position: absolute !important;
  display: none !important;
}

/* Show the checkmark when checked */
.tickbox-container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block !important;
}
.tickbox-container input[type="checkbox"]:checked ~ .checkmark {
  filter: brightness(115%);
}

/* Style the checkmark/indicator */
.tickbox-container .checkmark:after {
  left: 10px !important;
  top: 3px !important;
  width: 10px !important;
  height: 20px !important;
  border: solid #022835 !important;
  border-width: 0 4px 4px 0 !important;
  border-radius: 2px !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  color: #022835 !important;
}
