:root {
  --primary: 231, 111, 81;
  --primary2: 236, 97, 62;
  --secondary: 2, 40, 53;
  --accent: 183, 22, 22;
}
::-moz-selection {
  color: rgba(var(--primary2), 1);
  background: rgba(var(--accent), 0.8);
}
/* Code for Firefox */
::selection {
  color: rgba(var(--primary2), 1);
  background: rgba(var(--accent), 0.8);
}
* {
  padding: 0px;
  margin: 0px;
  color: rgba(var(--secondary), 1);
  background: rgba(var(--primary), 1);
  box-sizing: border-box;
}
